@use "../../styles/variables" as *;

// .form-container {
//     width: 40%;
//     min-width: 320px;
//     max-width: 475px;
//     background: $primary-color;
//     margin: 0 auto;
//     box-shadow: 0px 2px 5px $color-black;

//     &__title {
//         width: 100%;
//         color: $color-secondary-light;
//         font-family: "open sans condensed";
//         font-size: 1.35em;
//         display: block;
//         background: $color-black;
//         width: 100%;
//         text-transform: uppercase;
//         padding: 0.75em 1em 0.75em 1.5em;
//         box-shadow: inset 0px 1px 1px fadeout($color-white, 95%);
//         border: 1px solid $color-secondary-dark;
//         margin: 0;
//         font-weight: 200;
//     }

//     &__form {
//         display: block;
//         width: 100%;
//         padding: 2em;
//     }

//     &__input {
//         display: block;
//         margin: auto auto;
//         width: 100%;
//         margin-bottom: 2em;
//         padding: 0.5em 0;
//         border: none;
//         border-bottom: 1px solid #eaeaea;
//         border-radius: 6px;
//         padding-bottom: 1.25em;
//         color: $color-secondary;

//         &:focus {
//             outline: none;
//         }
//     }

//     &__button {
//         @include button;
//     }
// }

.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;

    &__title {
        font-size: 24px;
        margin-bottom: 20px;
    }

    &__form {
        display: grid;
        grid-gap: 10px;
    }

    &__input {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    &__input[type="number"] {
        /* Additional styles for number input if needed */
    }

    &__button {
        background-color: $primary-color;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    &__button:hover {
        background-color: $color-primary-light;
    }
}
