@use "./variables" as *;

* {
    color: $color-black;
    font-family: "open sans", helvetica, arial, sans;
}

h2,
h3,
h4,
h5,
h6,
p {
    // adding display and width prevents margin collapse on these semantic text elements
    margin: 0.5rem 0;
    display: inline-block;
    width: 100%;
}

button {
    font-size: .8rem;
}

h1 {
    font-size: 2.1rem;
    font-size: 70px;
    width: 50%;
    margin: 150px auto;
    text-align: center;
    font-family: "open sans condensed";
}

h2 {
    font-size: 1.65rem;
    text-align: center;
    font-size: 36px;
    font-family: "open sans condensed";
}

h3 {
    font-size: 1.25rem;
}
