@use "../../styles/variables" as *;

.nav {
    width: 100%;
    height: 70px;
    margin: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgba($color: $primary-color, $alpha: 0.3);
    box-shadow: 0 2px 4px rgba($color: $primary-color, $alpha: 0.2);

    padding-bottom: 10px;

    &__item {
        text-transform: uppercase;
        text-decoration: none;
        font-size: 16px;
        margin: 10px 14px;
        color: $color-black;

        &:hover {
            // TODO: Add hover
        }
    }
}

@media screen and (min-width: 768px) {
    .nav {
        display: flex;
        justify-content: flex-end;

        &__item {
            font-size: 18px;
            margin: 10px 45px;
        }
    }
}
