@use "../../styles/variables" as *;

.brief-recipe {
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: $color-secondary-light;
    color: $color-black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &__content {
        margin-bottom: 35px;
    }

    &__title {
        font-size: 24px;
        color: $primary-color;
    }

    &__description {
        margin-top: 30px;
    }
}

@media screen and (min-width: 768px) {
    .brief-recipe {
        &__title {
            font-size: 28px;
            margin: 0;
            position: relative;
            z-index: 1;
            color: $primary-color;
        }
    }
}
