@use "../../styles/variables" as *;

.brief-recipe {
    max-width: 450px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: $color-secondary;
    color: $color-black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba($color: $color-secondary, $alpha: 1);

    &__content {
        margin-bottom: 35px;
    }

    &__title {
        font-size: 24px;
        color: $primary-color;
    }

    &__description {
        margin-top: 30px;
    }

    &__image {
        width: 100%;
        height: 250px;
        object-fit: cover;
        border-radius: 10px;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 768px) {
    .brief-recipe {
        &__title {
            font-size: 28px;
            margin: 0;
            position: relative;
            z-index: 1;
            color: $primary-color;
        }
    }
}
